<body>
  <section class="intro">
    <div class="intro-content">
      <h1>¡Hola! Soy Alejandro Martínez Begines</h1>
      <br>
      <br>
      <br>
      <br>
      
      <p>Desarrollador web apasionado y estudiante en ciberseguridad.</p>
      <p>En este portfolio, te invito a descubrir mis proyectos, habilidades y experiencia en el mundo del desarrollo y la seguridad digital.</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 Mi Portfolio | Todos los derechos reservados</p>
  </footer>

</body>

