<section class="about">
    <div class="about-content">
      <h2>Sobre Mí</h2>
      <div class="about-info">
        <img src="assets/yo.jpg" alt="Imagen de Alejandro" class="about-img">
        <div class="about-text">
          <p><strong>Hola, soy Alejandro Martínez Begines.</strong></p>
          <p>Soy un desarrollador web apasionado con un enfoque en la creación de aplicaciones interactivas y seguras. Tengo una fuerte comprensión de la programación, el desarrollo frontend y backend, así como una sólida experiencia en el campo de la ciberseguridad.</p>
          <p>Mi objetivo es seguir aprendiendo y mejorar mis habilidades para desarrollar soluciones innovadoras y seguras. Aquí puedes conocer un poco más sobre mí y mi camino profesional:</p>
        </div>
      </div>
      
      <div class="about-details">
        <h3>Mi Trayectoria</h3>
        <p>Desde que comencé mi carrera en la programación, he trabajado en varios proyectos web que me han permitido crecer profesionalmente. He desarrollado aplicaciones para distintos sectores y trabajado con tecnologías como HTML, CSS, JavaScript, Angular, y frameworks de backend como Node.js.</p>
        <p>Mi interés en la ciberseguridad ha sido una extensión natural de mi pasión por la tecnología. Siempre busco maneras de asegurarme de que las aplicaciones y plataformas que desarrollo sean seguras y resistentes a amenazas externas.</p>
        
      </div>
    </div>
  </section>
  